body {
    background-color: aquamarine;
}

h1 {
    text-align: center;
    color: red;
}

.row {
    justify-content: center;
}

.square {
    border: solid;
    border-color: blue;
    height: 20vh;
    width: 20vw;
    text-align: center;
    font-size: xx-large;
    color: white;
}

button {
    align-items: center;
}

.xSquare {
    background-color: darkred;
}

.oSquare {
    background-color: navy;
}